@import 'main.css';
.grid {
    grid-template-rows: minmax(20vh, auto) repeat(1, 200vh 20vh);
}

#pipe-1-start {
    grid-row: var(--grid_bottom);
    grid-column: 10 / span 3;
}

#pipe-1-end {
    grid-row: var(--grid_top);
    grid-column: 10 / span 3;
}

#pipe-1 {
    grid-area: 2 / 11 / 3 / 11;
}