@import 'main.css';
.grid {
    grid-template-rows: minmax(20vh, auto) repeat(4, 200vh 20vh);
}

#pipe-1 {
    grid-area: 2 / 3 / span 7 / span 1;
}

#pipe-2 {
    grid-area: 2 / 15 / span 1 / span 1;
}

#pipe-3 {
    grid-area: 4 / 13 / span 4 / span 1;
}

#pipe-3-uturn {
    grid-area: 8 / 10 / span 1 / span 4;
}

#pipe-4 {
    grid-area: 6 / 18 / span 1 / span 1;
}

#pipe-5 {
    grid-area: 8 / 15 / span 1 / span 1;
}

/* ===== Lock =====*/

#cb-1 {
    grid-column: 11;
    grid-row: 3;
    align-self: end;
    justify-self: center;
}

#cb-2 {
    grid-column: 11;
    grid-row: 5;
    align-self: end;
    justify-self: center;
}

div.locked {
    display: none;
    grid-area: 9 / 10 / span 1 / span 3;
    z-index: 1;
    align-content: center;
    justify-content: center;
}

#cb-1:checked+#cb-2:checked+.locked-text {
    display: none;
}

#cb-1:checked+#cb-2:checked+.locked {
    display: grid;
}

.lever {
    display: none;
}

#layer-2:target~#cb-1 {
    display: block;
}

#layer-3:target~#cb-2 {
    display: block;
}