@import url('./main.css');
.grid {
    grid-template-rows: minmax(20vh, auto) repeat(1, 200vh 20vh);
}

#pipe-1 {
    grid-area: 2 / 11 / 3 / 11;
}

#layer-1>.layer-content {
    margin-bottom: 32px;
}