@import 'main.css';
.grid {
    grid-template-rows: minmax(20vh, auto) repeat(3, 200vh 20vh);
}

#pipe-1 {
    grid-area: 2 / 11 / span 1 / span 1;
}

#pipe-2 {
    grid-area: 2 / 3 / span 5 / span 1;
}

#pipe-3 {
    grid-area: 4 / 17 / span 1 / span 1;
}

#pipe-4 {
    grid-area: 4 / 6 / span 3 / span 1;
}

/* ===== Lock ===== */

#layer-3:target .code {
    display: block;
}